---
import Layout from "../../layouts/Layout.astro";
import { contentfulClient } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { BlogPost } from "../../lib/contentful";
import { marked } from "marked";
import Prism from "prismjs";
import "prismjs/themes/prism-tomorrow.css";

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
  });

  return entries.items.map((entry) => ({
    params: { slug: entry.fields.slug },
    props: {
      title: entry.fields.title,
      date: entry.fields.publishDate,
      content: marked(documentToHtmlString(entry.fields.content)),
    },
  }));
}

const { title, date, content } = Astro.props;
---

<Layout>
  <Fragment slot="head">
    <title>{title} | notes.kinokonoko.io</title>
  </Fragment>
  <main class="max-w-3xl mx-auto px-4 py-8">
    <a
      href="/"
      class="text-[var(--text-secondary)] hover:underline mb-4 inline-block"
      >← Back to Posts</a
    >
    <h1 class="text-4xl font-bold mb-2">{title}</h1>
    <time class="text-[var(--text-secondary)]"
      >{new Date(date).toLocaleDateString()}</time
    >
    <article
      class="mt-8 prose prose-sm md:prose-base dark:prose-invert"
      set:html={content}
    />
  </main>
  <script type="module">
    import Prism from "prismjs";
    Prism.highlightAll();
  </script>
</Layout>
