@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --text: #111827;
  --text-secondary: #4b5563;
  --card-bg: rgba(255, 255, 255, 1);
  --hover-bg: rgba(255, 255, 255, 0.55);
  --border: white;
  --gradient-button: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
  --gradient-text: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
  --gradient-code-bg: linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%);
  --gradient-code-border: linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%);
}

html.dark {
  --background: #0f172a;
  --text: #f1f5f9;
  --text-secondary: #cbd5e1;
  --card-bg: rgba(30, 41, 59, 1);
  --hover-bg: rgba(30, 41, 59, 0.7);
  --border: #334155;
  --gradient-button: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
  --gradient-text: linear-gradient(14deg, #ff6b6b 0%, #f041ff 100%);
  --gradient-code-bg: linear-gradient(66.77deg, #2d1b29 0%, #2b1a30 100%);
  --gradient-code-border: linear-gradient(155deg, #d83333 0%, #f041ff 18%, #7e4e79 45%);
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Noto Sans JP', sans-serif;
}

/* Remove default hyperlink styling */
a {
  color: inherit;
  text-decoration: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}