---
import {
  getAllPosts,
  getPostsByTag,
  getAvailableTags,
} from "../lib/contentful";
import Layout from "../layouts/Layout.astro";
import BlogList from "../components/BlogList.astro";
import CategoryToggle from "../components/CategoryToggle.astro";

// Get the active tag from URL query parameter
const url = new URL(Astro.request.url);
const activeTag = url.searchParams.get("tag") || "all";

// Get all available tags and their post counts
const availableTags = await getAvailableTags();

// Get posts filtered by the active tag
const posts =
  activeTag === "all" ? await getAllPosts() : await getPostsByTag(activeTag);
---

<Layout>
  <Fragment slot="head">
    <title>notes.kinokonoko.io</title>
  </Fragment>
  <main>
    <div class="flex flex-col items-center">
      <CategoryToggle activeTag={activeTag} availableTags={availableTags} />
      <BlogList posts={posts} />
    </div>
  </main>
</Layout>
