---
import { contentfulClient } from "../lib/contentful";
import type { BlogPost } from "../lib/contentful";
import Layout from "../layouts/Layout.astro";

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
});

const posts = entries.items.map((item) => {
  const { title, publishDate, slug } = item.fields;
  return {
    title,
    slug,
    date: new Date(publishDate).toLocaleDateString(),
  };
});
---

<Layout>
  <main>
    <ul class="space-y-4">
      {
        posts.map((post) => (
          <li class="p-4 rounded-lg bg-[var(--card-bg)] border border-[var(--border)]">
            <a
              href={`/posts/${post.slug}/`}
              class="hover:text-[var(--text-secondary)]"
            >
              <h2 class="text-xl font-semibold">{post.title}</h2>
            </a>
            <time class="text-sm text-[var(--text-secondary)]">
              {post.date}
            </time>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
