---
// Enable prerendering for static generation
export const prerender = true;

import { getAllPosts, getAvailableCategories } from "../lib/contentful";
import Layout from "../layouts/Layout.astro";
import BlogList from "../components/BlogList.astro";
import CategoryToggle from "../components/CategoryToggle.astro";

// This page shows all posts by default (no category filtering)
const activeCategory = "all";

// Get all available categories and their post counts
const availableCategories = await getAvailableCategories();

// Get all posts for the main page
const posts = await getAllPosts();
---

<Layout>
  <Fragment slot="head">
    <title>notes.kinokonoko.io</title>
  </Fragment>
  <main>
    <div class="flex flex-col items-center">
      <CategoryToggle
        activeCategory={activeCategory}
        availableCategories={availableCategories}
      />
      <BlogList posts={posts} />
    </div>
  </main>
</Layout>
