---
import { contentfulClient } from "../lib/contentful";
import type { BlogPost } from "../lib/contentful";
import Layout from "../layouts/Layout.astro";
import BlogList from "../components/BlogList.astro";

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
});

const posts = entries.items.map((item) => {
  const { title, publishDate, slug } = item.fields;
  return {
    title,
    slug,
    date: new Date(publishDate).toLocaleDateString(),
  };
});
---

<Layout>
  <Fragment slot="head">
    <title>notes.kinokonoko.io</title>
  </Fragment>
  <main>
    <div class="flex justify-center">
      <BlogList posts={posts} />
    </div>
  </main>
</Layout>
