---
export interface BlogPost {
  title: string;
  slug: string;
  date: string;
  tags?: string[];
}

export interface Props {
  posts: BlogPost[];
}

const { posts } = Astro.props;
---

<ul class="w-100 mx-auto" style="max-width: 42rem;">
  {
    posts.map((post) => (
      <li class="d-flex align-items-center py-3 mb-2">
        <time class="small text-secondary" style="min-width: 120px; text-align: left; padding-right: 1rem;">
          {post.date}
        </time>
        <a
          href={`/posts/${post.slug}/`}
          class="text-body"
        >
          {post.title}
        </a>
      </li>
    ))
  }
</ul>
