---
// Footer component
import "../styles/footer.css";
---

<footer class="footer">
  <div class="footer-separator"></div>
  <div class="footer-content">
    <p class="copyright">
      © {new Date().getFullYear()} Kenny Ha. All rights reserved.
    </p>
  </div>
</footer>
