---

---

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a href="/" class="navbar-brand">notes.kinokonoko.io</a>
    <button 
      class="navbar-toggler" 
      id="navbar-hamburger"
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbar-links" 
      aria-controls="navbar-links" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-links">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/nyokinokonoko">GitHub</a></li>
        <li class="nav-item"><a class="nav-link" href="https://x.com/nyokinokonoko">X</a></li>
        <!-- Add more links as needed -->
      </ul>
    </div>
  </div>
</nav>
<script is:inline>
  // Bootstrap's navbar toggle is handled by Bootstrap's JavaScript
  // We need to import the Bootstrap JS in the Layout component
</script>
